@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm("Index", "Index"))
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>